<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584153539050-ie7g7n6md9c7bnktll9l0chpcin5krqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584153539050-ie7g7n6md9c7bnktll9l0chpcin5krqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDHEjszMHHVRQYaMKdd6TjJWBZGVvc6n_s</string>
	<key>GCM_SENDER_ID</key>
	<string>584153539050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfire</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-918f7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-918f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584153539050:ios:78d9db297bed56457d1293</string>
</dict>
</plist>